{% extends "index" %}


{% set pageTitle = entry.title %}
{% set pageDescription = entry.commonExcerpt %}

{% block content %}



<!-- =======================
Inner intro START -->
<section class="pt-2">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url({{ entry.featuredImage.one().getUrl('catHero') }}); background-position: center left; background-size: cover;">
          <!-- Card Image overlay -->
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
            <div class="w-100 my-auto">
              <!-- Card category -->
              <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Lifestyle</a>
              <!-- Card title -->
              <h2 class="text-white display-5">{{ entry.title }}</h2>
              <!-- Card info -->
              <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                <li class="nav-item">
                  <div class="nav-link">
                    <div class="d-flex align-items-center text-white position-relative">
                      <div class="avatar avatar-sm">
                        <img class="avatar-img rounded-circle" src="web/assets/images/avatar/11.jpg" alt="avatar">
                      </div>
                      <span class="ms-3">by <a href="{{ entry.url }}" class="stretched-link text-reset btn-link">{{ entry.author }}</a></span>
                    </div>
                  </div>
                </li>
                <li class="nav-item">{{entry.postDate|date('d/M/Y')}}</li>
                <li class="nav-item">5 min read</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative" data-sticky-container>
		<div class="row">
			<!-- Main Content START -->
			<div class="col-lg-9 mb-5">
            {{ entry.mainContent }}
      	
				<!-- Author info START -->
				<div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
					<!-- Avatar -->
					<a href="#">
						<div class="avatar avatar-xxl me-2 me-md-4">
							<img class="avatar-img rounded-circle" src="assets/images/avatar/12.jpg" alt="avatar">
						</div>
					</a>
					<!-- Info -->
					<div>
						<div class="d-sm-flex align-items-center justify-content-between">
							<div>
								<h4 class="m-0"><a href="#">{{ entry.author }}</a></h4>
								<small>Editor at Run Repubilc</small>
							</div>
							<a href="#" class="btn btn-xs btn-primary-soft">View Articles</a>
						</div>
						<p class="my-2">{{ entry.author }} is a senior editor for Run Republic and also reports on breaking news based in Dublin. He has written about government, criminal justice, and the role of money in politics since 2015.</p>
						<!-- Social icons -->
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link ps-0 pe-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
							</li>
						</ul>					
					</div>
				</div>
				<!-- Author info END -->

				
			</div>
			<!-- Main Content END -->
			
			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div data-sticky data-margin-top="80" data-sticky-for="991">
          <!-- Categories -->
	      	<div class="row g-2">
						<h5>Categories</h5>
						<div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-15 rounded p-2 position-relative">
							<h6 class="m-0 text-warning">Photography</h6>
							<a href="#" class="badge bg-warning text-dark stretched-link">09</a>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-info bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-info">Travel</h6>
							<a href="#" class="badge bg-info stretched-link">25</a>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-danger">Photography</h6>
							<a href="#" class="badge bg-danger stretched-link">75</a>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-primary">Covid-19</h6>
							<a href="#" class="badge bg-primary stretched-link">19</a>
						</div>
						<div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-success">Business</h6>
							<a href="#" class="badge bg-success stretched-link">35</a>
						</div>
					</div>
					
					<!-- Newsletter START -->
					<div class="bg-light p-4 mt-4 rounded-3 text-center">
						<h4>Subscribe to our mailing list!</h4>
						<form>
							<div class="mb-3">
								<input type="email" class="form-control" placeholder="Email address">
							</div>
							<button type="submit" class="btn btn-primary">Subscribe</button>
							<div class="form-text">We don't spam</div>
						</form>
					</div>
					<!-- Newsletter END -->

					<!-- Advertisement -->
					<div class="mt-4">
						<a href="#" class="d-block card-img-flash">
							<img src="assets/images/adv.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main END -->





{% endblock %}