{% extends "index" %}


{% set pageTitle = entry.title %}
{% set pageDescription = entry.commonExcerpt %}

{% block content %}



<!-- =======================
Inner intro START -->
<section class="pt-2">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url({{ entry.featuredImage.one().getUrl('catHero') }}); background-position: center left; background-size: cover;">
          <!-- Card Image overlay -->
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
            <div class="w-100 my-auto">
              <!-- Card title -->
              <h2 class="text-white display-5">{{ entry.title }}</h2>
              <!-- Card info -->
              <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                <li class="nav-item">
                  <div class="nav-link">
                    <div class="d-flex align-items-center text-white position-relative">
        
                      <span class="ms-3">By <a href="{{ entry.url }}" class="stretched-link text-reset btn-link">{{ entry.author }}</a></span>
                    </div>
                  </div>
                </li>
                <li class="nav-item">{{entry.postDate|date('d M Y')}}</li>
                <li class="nav-item">5 min read</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative" data-sticky-container>
		<div class="row">
			<!-- Main Content START -->
			<div class="col-lg-9 mb-5">
            {{ entry.mainContent }}
      	
				<!-- Author info START -->
				<div class="d-flex p-2 p-md-4 my-3 bg-primary bg-opacity-10 rounded">
					<!-- Avatar -->
					
					<!-- Info -->
					<div>
						<div class="d-sm-flex align-items-center justify-content-between">
							<div>
								<h4 class="m-0"><a href="#">{{ entry.author }}</a></h4>
								<small>Editor at Run Repubilc</small>
							</div>
							<a href="#" class="btn btn-xs btn-primary-soft">View Articles</a>
						</div>
						<p class="my-2">{{ entry.author }} is a senior editor for Run Republic and also reports on breaking news based in Dublin. He has written about government, criminal justice, and the role of money in politics since 2015.</p>
						<!-- Social icons -->
									
					</div>
				</div>
				<!-- Author info END -->

				
			</div>
			<!-- Main Content END -->
			
			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div data-sticky data-margin-top="80" data-sticky-for="991">
          <!-- Categories -->
	      	<div class="row g-2">
						<h5>Categories</h5>
						<a href="#">
						<div class="d-flex justify-content-between align-items-center bg-warning bg-opacity-15 rounded p-2 position-relative">
							<h6 class="m-0 text-warning">Beginners</h6>
						</div></a><a href="#">
						<div class="d-flex justify-content-between align-items-center bg-info bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-info">Physio Corner</h6>
						</div></a><a href="#">
						<div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-danger">Nutrition</h6>
						</div></a><a href="#">
						<div class="d-flex justify-content-between align-items-center bg-primary bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-primary">Upcoming Races</h6>
						</div></a><a href="#">
						<div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 rounded p-2 position-relative">
							<h6 class="m-0 text-success">Latest News</h6>
						</div></a>
					</div>
					
					<!-- Newsletter START -->
					<div class="bg-light p-4 mt-4 rounded-3 text-center">
						<h4>Subscribe to our mailing list!</h4>
						<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
							<script>
							hbspt.forms.create({
								region: "eu1",
								portalId: "25769310",
								formId: "c1c42024-0827-46fd-b834-d8d99d0e353e"
							});
							</script>
					</div>
					<!-- Newsletter END -->

					<!-- Advertisement -->
					<div class="mt-4">
						<h4 class="m-0"><a href="#">Advertisement</a></h4>
						<a href="#" class="d-block card-img-flash">
							<img src="https://runr.ddev.site//var/www/html/web/_miniCard/mobility.jpeg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!-- Right sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main END -->





{% endblock %}